############################################################
#  Awesome Interactive Fiction                             #
#  https://github.com/tajmone/awesome-interactive-fiction  #
############################################################

# Temp work files:
__*.*
__*
*.url
*.lnk

# Exclude local HTML previews:
/*.html
docs_src/*.html

# EOF #
