################################################################################
# Awesome Interactive Fiction                                                  #
# https://github.com/tajmone/awesome-interactive-fiction                       #
################################################################################
* text=auto

*.sh           text eol=lf
*.rb           text

*.html         text
*.adoc         text
*.asciidoc     text

LICENSE        text

.gitattributes text
.gitconfig     text
.gitignore     text
.gitmodules    text
