############################################################
#  Awesome Interactive Fiction                             #
#  https://github.com/tajmone/awesome-interactive-fiction  #
############################################################
* text=auto

*.sh           text eol=lf
*.rb           text eol=lf

*.adoc         text
*.asciidoc     text
*.html         text
*.txt          text

LICENSE        text

.gitattributes text eol=lf
.editorconfig  text eol=lf
.gitignore     text eol=lf

# EOF #
